<!-- Start Hero Area -->
<section class="hero-area">
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 co-12">
                    <div class="home-slider">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3">Somos Especialistas en: <br>
                            <span class="typed"></span>
                            </h1>
                            
                            
                            <p class="wow fadeInUp" data-wow-delay=".5s">Nuestro de equipo, esta integrado por expertos de diversas áreas de las Geociencias. Brindamos siempre, la mejor solución para su proyectos.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".7s">
                                <a href="#services" class="btn">Nuestros Servicios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->