{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid d-flex">
        <a class="navbar-brand ms-3"><img src="{% static 'assets/images/logo/logo-white.svg' %}" alt="" style="height: 25px;">
            | {{nombre}}
        </a>

        
        
        
        
        <ul class="navbar-nav ms-auto me-3 me-sm-3">
        <form class="ms-auto d-none d-md-flex" method="get" id="searchForm">

            <input class="form-search-sidebar" style="
                            
                            background-color: transparent; 
                            width: 300px;
                            height: 35px;
                            border: none;
                            color: #fff;

                            " type="text" placeholder="Buscar Distrito o Centro Poblado..." aria-label="Buscar Distrito
                            o Centro Poblado...." aria-describedby="btnNavbarSearch" name='search' id='search' />
            <button class="btn btn-dark" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>

        </form>
        {% if nombre  %}
        <li class="nav-item">
                <a class="nav-link text-white" aria-disabled="false"
                href="/geoportal"><i class="fas fa-arrow-left"></i></a>
        </li>
        {% endif %}
        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if user.is_staff %}
                    <li><a class="dropdown-item" href="#!">Usuarios</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout'%}"> <i class="fas fa-sign-out-alt"></i>
                            Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{%url 'login'%}"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            
        </ul>
    </div>
</nav>