{% extends 'layout.html' %}
{% load static %}

{% block title %}Indicadores{% endblock title %}





{% block content %}
<div id="" class="container mt-3 rounded">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center p-4">
                    <h1>No existe informacion</h1>
                    <img class="mb-4 img-error"  src="{% static 'assets/img/notfound.svg' %}" />
                    <p class="lead">Comunicate con el administrador del Sitio</p>
                    <a href="{% url 'indicadores' %}" class="mb-4">
                        <i class="fas fa-arrow-left me-1"></i>
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock %}