<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily =
        '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';
    // Chart.plugins.register(ChartDataLabels);
    Chart.helpers.merge(Chart.defaults.global.plugins.datalabels, {
    color: '#000',
    display: false
    });

     function retPercent(arg){
     total = '{{total}}'
     op = arg*100/total
     // console.log(typeof(op))
     return op.toFixed(1)
     }

    const labels = ["Bajo", "Medio", "Alto", "Muy Alto"]   
     // SECTION INDICADORES CHARTS
    var BarChart = new Chart(document.getElementById("BarChart"), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                datalabels: {
                    color: function(context) {
                    return context.dataset.backgroundColor;
                    },
                    display: true,
                    font: {
                        weight: 'bold'
                    },
                    anchor: 'end',
                    offset: 2,
                    align: 'end'

                },
                label: "Total Pob ",
                backgroundColor: ["#198754","#ffc107","#ff6a00","#dc3545"],
                borderColor: "rgba(2,117,216,1)",
                data: ['{{l}}', '{{m}}', '{{h}}', '{{vh}}']
            }],
        },
        options: {
            responsive: true,
            maintainAspectratio:false,
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    display: true,
                    
                }],
            },
            legend: {
                display: false
            },
            
            
        }
    });

    var PieChart = new Chart(document.getElementById("PieChart"), {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                datalabels: {
                    // backgroundColor: function(context) {
                    // return context.dataset.backgroundColor;
                    // },
                    // borderColor: '#fff',
                    // borderRadius: 25,
                    // borderWidth: 2,
                    color: 'white',
                    display: true,
                    font: {
                    size:11,
                    weight: 'bold'
                    },
                    anchor: 'start',
                    align: 'end',
                    offset: 30,
                    clamp: true

                },
                label: "Total Pob:",
                backgroundColor: ["#198754","#ffc107","#ff6a00","#dc3545"],
                borderColor: "rgba(2,117,216,1)",
                data: [retPercent('{{l}}'), retPercent('{{m}}'), retPercent('{{h}}'),
                retPercent('{{vh}}')],
                borderWidth:2,
                borderColor:'#fff',
                 
            }],
            hoverOffset:20
        },
        options: {
            responsive: true,
            maintainAspectratio:false,
           
            legend: {
                display: true,
                position: 'right'
            },
            
            
        }
    });
    

    var BarChartDensidad = new Chart(document.getElementById("BarChartDensidad"), {
        type: 'bar',
        data: {
        labels: ['Q1', 'Q2', 'Q3', 'Q4', 'Q5'],
        datasets: [{
        datalabels: {
        color: function(context) {
        return context.dataset.backgroundColor;
        },
        display: true,
        font: {
        weight: 'bold'
        },
        anchor: 'end',
        offset: 0,
        align: 'end',
        clip: true

        },
        label: "Total Pob ",
        backgroundColor: ['#fde725c2', '#5dc962c2', '#20908dc2', '#3a528bc2', '#440154c2'],
        borderColor: "rgba(2,117,216,1)",
        data: ['{{densidad_q1}}', '{{densidad_q2}}', '{{densidad_q3}}', '{{densidad_q4}}','{{densidad_q5}}']
        }],
        },
        options: {
        responsive: true,
        maintainAspectratio:false,
        scales: {
        xAxes: [{
        gridLines: {
        display: false
        },
        ticks: {
        maxTicksLimit: 6
        }
        }],
        yAxes: [{
        display: true,

        }],
        },
        legend: {
        display: false
        },


        }
    })
    
    var PieChartDensidad = new Chart(document.getElementById("PieChartDensidad"), {
        type: 'pie',
        data: {
        labels: ['Q1', 'Q2', 'Q3', 'Q4', 'Q5'],
        datasets: [{
        datalabels: {
        color: 'white',
        display: true,
        font: {
        size:11,
        weight: 'bold'
        },
        anchor: 'start',
        align: 'end',
        offset: 30,
        clamp: true

        },
        label: "Total Pob:",
        backgroundColor: ['#fde725c2', '#5dc962c2', '#20908dc2', '#3a528bc2', '#440154c2'],
        borderColor: "rgba(2,117,216,1)",
        data: [retPercent('{{densidad_q1}}'), retPercent('{{densidad_q2}}'), retPercent('{{densidad_q3}}'),
        retPercent('{{densidad_q4}}'),retPercent('{{densidad_q5}}')],
        borderWidth:2,
        borderColor:'#fff',

        }],
        hoverOffset:20
        },
        options: {
        responsive: true,
        maintainAspectratio:false,

        legend: {
        display: true,
        position: 'right'
        },


        }

    })
</script>