{% load static %}




<script src="{% static 'js/portal/leaflet.js' %}"></script>

{% comment %} <script src="{% static 'js/portal/draw/leaflet.draw.js' %}"></script>
<script src="{% static 'js/portal/draw/Leaflet.Draw.Event.js' %}"></script>

<script src="{% static 'js/portal/draw/Toolbar.js' %}"></script>
<script src="{% static 'js/portal/draw/Tooltip.js' %}"></script> 



<script src="{% static 'js/portal/draw/ext/GeometryUtil.js' %}"></script>
<script src="{% static 'js/portal/draw/ext/LatLngUtil.js' %}"></script>
<script src="{% static 'js/portal/draw/ext/LineUtil.Intersect.js' %}"></script>
<script src="{% static 'js/portal/draw/ext/Polygon.Intersect.js' %}"></script>
<script src="{% static 'js/portal/draw/ext/Polyline.Intersect.js' %}"></script>
<script src="{% static 'js/portal/draw/ext/TouchEvents.js' %}"></script> 


<script src="{% static 'js/portal/draw/draw/DrawToolbar.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.Feature.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.SimpleShape.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.Polyline.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.Marker.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.Circle.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.CircleMarker.js' %}"></script>
<script src="{% static 'js/portal/draw/draw/handler/Draw.Polygon.js' %}"></script>
<script src="{% static 'js/portal/draw//draw/handler/Draw.Rectangle.js' %}"></script>


<script src="{% static 'js/portal/draw/edit/EditToolbar.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/EditToolbar.Edit.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/EditToolbar.Delete.js' %}"></script>

<script src="{% static 'js/portal/draw/Control.Draw.js' %}"></script>

<script src="{% static 'js/portal/draw/edit/handler/Edit.Poly.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/Edit.SimpleShape.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/Edit.Rectangle.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/Edit.Marker.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/Edit.CircleMarker.js' %}"></script>
<script src="{% static 'js/portal/draw/edit/handler/Edit.Circle.js' %}"></script>  {% endcomment %}





<script src="{% static 'js/portal/Autolinker.min.js' %}"></script>
<script src="{% static 'js/portal/Leaflet.Control.Custom.js' %}"></script>
<script src="{% static 'js/portal/easy-button.js' %}"></script>
<script src="{% static 'js/portal/L.Control.Locate.min.js' %}"></script>
<script src="{% static 'js/portal/leaflet-hash.js' %}"></script>
<script src="{% static 'js/portal/leaflet-search.min.js' %}"></script>
<script src="{% static 'js/portal/leaflet-search.js' %}"></script>
<script src="{% static 'js/portal/leaflet-sidebar.js' %}"></script>



<script>
        // let data2;

        // let form = document.querySelector('#searchForm')
        // let value;
        // form.addEventListener('submit',function(e){
            
        //     e.preventDefault()
        //     value =  document.querySelector('#search').value;
        //     console.log('SIGNAL EMITED')
        //     get_distrito(value)
        // })

        // function get_distrito(q){
        // console.log("ACA FUNCIONA BIEN");
        // console.log(q)

        // $.ajax({
        // url: `http://127.0.0.1:8000/rest/fabres/` + q,
        // type: 'GET',
        // error: function (err) {

        // alert("Error: " + err.responseText.toString())

        // },
        // success: function(json){
        // // document.querySelector('#search').
        // // console.log(json)
        // console.log(json),
        // layerAjax = L.geoJson(json)
        // map.fitBounds(layerAjax.getBounds());
        // layerAjax = null


        // }

        // })
        // }



    var map = L.map('map', {
        drawControl: true
    }).setView([-12.939947, -74.247891], 13);

    map.attributionControl.setPrefix(
        `Desarrollado por: <a href="https://www.linkedin.com/in/geofrancisco/" title="GeoSIG" "target=" _blank">Francisco
        Contreras </a>&middot<a href="https://www.linkedin.com/in/aprovambrafaelvasquez/" title="APROVAMB" "target="
            _blank">Rafael Vásquez </a>`
    );
   
    map.createPane('pane_baseMap');
    map.getPane('pane_baseMap').style.zIndex = 0;
    var baseMapsatelital = L.tileLayer(
        'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            pane: 'pane_baseMap',
            attribution: '&copy; <a href="">Google Earth</a>',
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
            opacity: 1.0,
            minZoom: 13,
            maxZoom: 28,
            minNativeZoom: 0,
            maxNativeZoom: 20
        });
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // map.addLayer(OpenStreetMap_Mapnik)
    // POPUPS
    function pop_risk(feature, layer) {
        var popupContent = `<table class="table table-sm table-light table-bordered border-dark">
        <thead class="table-dark">
            <tr >
                <th scope="col"> Manzana</th>
                <th scope="col">Distrito</th>
                <th scope="col">Poblacion</th>
                <th scope="col">Riesgo</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">${feature.properties.idmanzana}</td>
                <td class=""><a class="text-decoration-none link-success" href="/geoportal/?search=${feature.properties.distrito}">${feature.properties.distrito}</a></td>
                <td>${feature.properties.pob_total}</td>
                <td rowspan="2" class="fw-bold align-middle" style="background-color: ${bgColor(feature)}">
                    ${feature.properties.n_riesgo}</td>
            </tr>
            <tr>
                <th scope="row" colspan="3"> Centro Poblado: ${feature.properties.nom_ccpp}</th>
            </tr>
           
        <tbody>
    </table>
    `;
        layer.bindPopup(popupContent, {
            maxHeight: 1000,
            maxWidth: 1000,

        });

        function bgColor(feature){
            switch (feature.properties.n_riesgo) {
                case 'Muy Alto':
                    return '#d7191cc2';
                case 'Alto':
                    return '#fe9000c2' ;
                case 'Medio':
                    return '#ffe900c2';
                case 'Bajo':
                    return '#1a9641c2' ;
            
                default:
                    break;
            }
        }
        
    }
    
    // CREATE LAYERPANE
    map.createPane('dist_pane');
    map.getPane('dist_pane').style.zIndex = 400
    
  
    
    
    
    distritos = '{{data|safe}}'
    data = JSON.parse(distritos)

    var layer = new L.geoJson(data, {
        attribution: '',
        interactive: true,
        onEachFeature: pop_risk,
        pane: 'dist_pane',
        dataVar: 'distritos',
        layerName: 'Escenario de Riesgos',
        style: {
            color: '#d7191c',
            stroke: '',
            fillOpacity: '0.50'
        }


    }).addTo(map)

    function styleRiesgo(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['n_riesgo'])) {
        case "Muy Alto":
        return {
        color: '#d7191c',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Alto":
        return {
        color: '#fe9000',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Medio":
        return {
        color: '#ffe900',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Bajo":
        return {
        color: '#1a9641',
        fillOpacity: '0.60',
        stroke: ''
        };
        }
        })
        layer.onEachFeature().bindPopup(pop_risk);

    }
    function styleDensidad(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_densid'])) {
        case "Q5":
        return {
        color: '#440154',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q4":
        return {
        color: '#3a528b',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q3":
        return {
        color: '#20908d',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q2":
        return {
        color: '#5dc962',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q1":
        return {
        color: '#fde725',
        fillOpacity: '0.60',
        stroke: ''
        };
        }
        })
    }
    function styleNbi(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_propnbi'])) {
        case "Q5":
        return {
        color: '#9f4f00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q4":
        return {
        color: '#db7909',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q3":
        return {
        color: '#e7a612',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q2":
        return {
        color: '#f3d31b',
        fillOpacity: '0.60',
        stroke: ''
        };
        case "Q1":
        return {
        color: '#ffff24',
        fillOpacity: '0.60',
        stroke: ''
        };
        }
        })
    }
    function styleContagios(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_mcalor'])) {
        case 'Q5':
        return {
        color: '#d7191c',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q4':
        return {
        color: '#d7191c',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q3':
        return {
        color: '#fea600',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q2':
        return {
        color: '#fea600',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q1':
        return {
        color: '#c7e800',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'N/D':
        return {
        color: '#c7e800',
        fillOpacity: '0.60',
        stroke: ''
        };

        }
        }
)
    }
    function style3059(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_30_a_59'])) {
        case 'Q5':
        return {
        color: '#d7191c',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q4':
        return {
        color: '#fd7a00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q3':
        return {
        color: '#ffff00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q2':
        return {
        color: '#abdd00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q1':
        return {
        color: '#1a9641',
        fillOpacity: '0.60',
        stroke: ''
        };


        }
        }
)
    }
    function style60(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_pob60'])) {
        case 'Q5':
        return {
        color: '#d7191c',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q4':
        return {
        color: '#fd7a00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q3':
        return {
        color: '#ffff00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q2':
        return {
        color: '#abdd00',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q1':
        return {
        color: '#1a9641',
        fillOpacity: '0.60',
        stroke: ''
        };


        }
        })
    }
    function styleMercados(){
        layer.setStyle(function (feature) {
        switch (String(feature.properties['q_mercado'])) {
        case 'Q5':
        return {
        color: '#ff0000',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q4':
        return {
        color: '#ffa962',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q3':
        return {
        color: '#d5f23e',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q2':
        return {
        color: '#aef289',
        fillOpacity: '0.60',
        stroke: ''
        };
        case 'Q1':
        return {
        color: '#bebebe',
        fillOpacity: '0.60',
        stroke: ''
        };


        }
        })
    }
    function resetStyle(){
        layer.setStyle({
            color: '#d7191c',
            stroke: '',
            fillOpacity: '0.50'
        })

        
    }
    
    map.fitBounds(layer.getBounds());


    var basemaps = {
        "Google Earth: ": baseMapsatelital,
        "OpenStreeMaps: ": OpenStreetMap_Mapnik
    };

    var theme = {
        "Distrito: '{{nombre}}' ": layer
    }

    L.control.layers(basemaps,theme).addTo(map)
     L.control.locate({
     locateOptions: {
     maxZoom: 19
     }
     }).addTo(map);

    var sidebar = L.control.sidebar({ container: 'sidebar', position:'left'}).addTo(map);

   
     L.control.custom({
     position: 'topright',
     content : `
     <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Escenario de Riesgo por COVID-19" onclick="styleRiesgo()"><i class="fas fa-virus"></i></button>
     <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Densidad Poblacional" onclick="styleDensidad()"><i class="fas fa-users"></i></button>
     <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Porcentaje de NBI" onclick="styleNbi()"><i class="fas fa-hand-holding-water"></i></button>
     <button type="button" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Áreas de Contagios" onclick="styleContagios()"><i class="fas fa-biohazard"></i></button>
     <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Población de 30 a 59 Años" onclick="style3059()"><i class="fas fa-walking"></i></button>
     <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Población de 60 Años a Más" onclick="style60()"><i class="fas fa-blind"></i></button>
     <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
         title="Áreas de Aglomeración Pública" onclick="styleMercados()"><i class="fas fa-store"></i></button>
     <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Ubicación"
         onclick="resetStyle()"><i class="fas fa-map-marker-alt"></i></button>
    `,
     classes : 'btn-group-vertical btn-group-sm',
     style :
     {
     margin: '10px',
     padding: '0px 0 0 0',
     cursor: 'pointer',
     }
     })
     .addTo(map);

     L.control.scale({
         maxWidth: 100,
         metric: true,
         imperial: false
     }).addTo(map)
    



     




</script>