{% extends 'layout.html' %} 


{% load static %}


{% block title %}FABRES{% endblock title %} 



{% block links_css %}
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'css/portal/leaflet.css'%}" rel="stylesheet" />
    <link href="{% static 'css/portal/draw/leaflet.draw.css'%}" rel="stylesheet" />
    <link href="{% static 'css/portal/leaflet-sidebar.css'%}" rel="stylesheet" />
    <link href="{% static 'css/portal/easy-button.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/portal/leaflet-search.min.css' %}" />

{% endblock links_css %}



{%block content %}

<div
  class="position-relative"
  id="map"
  style="
  height: 91vh;
  overflow: hidden
  ">


  
{% include 'dashboard/sidebar-content.html' %}

</div>
{% endblock %}
