{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Geoportal GRD-FABRES</title>
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/main.css'%}" rel="stylesheet" />
        <link href="{% static 'css/portal/leaflet.css'%}" rel="stylesheet" />
        <link href="{% static 'css/portal/L.Control.Locate.min.css'%}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/portal/leaflet-control-credits.css' %}" />
        <link rel="stylesheet" href="{% static 'css/portal/leaflet-search.min.css' %}" />
        <link href="{% static 'css/portal/main.css'%}" rel="stylesheet" />
        <link href="{% static 'css/portal/fontawesome-all.min.css'%}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/dashboard/styles.css'%}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <style> #map {
        height: 100vh;
        width: 100vw;
    }</style>
    <body class="sb-nav-fixed bg-dark">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            {% comment %} <!-- Navbar Brand--> {% endcomment %}
            <p class="navbar-brand ps-3 disabled">Dashboard</p>
            {% comment %} <!-- Sidebar Toggle--> {% endcomment %}
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 d-md-none" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            {% comment %} <!-- Navbar Search--> {% endcomment %}
             {% comment %} <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>  {% endcomment %}
            {% comment %} <!-- Navbar--> {% endcomment %}
            <ul class="navbar-nav ms-auto me-3 me-sm-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Panel</div>
                            <a class="nav-link" href="">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Geoportal
                            </a>
                            {% comment %} <div class="sb-sidenav-menu-heading">Interface</div> 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav> {% endcomment %}
                                    {% comment %} </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>  {% endcomment %}
                        </div>
                    </div>
                    {% comment %} <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div> {% endcomment %}
                </nav>
            </div>
            <div id="layoutSidenav_content">
            
                    <div class="container-fluid px-4">
                        {% comment %} <h1 class="mt-4">Dashboard</h1> {% endcomment %}
                        {% comment %} <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> {% endcomment %}
                        <div id=""class="row">
                            <div class="container-fluid mt-2 rounded shadow" id="map"style="height: 88vh;">
                                
                            </div>
                        </div>
                        {% comment %} <div class="row ">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        
                    </div>
                
                {% comment %} <footer class="py-4 bg-light mt-auto fixed-bottom">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>  {% endcomment %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/dashboard/scripts.js'%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js'%}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/dashboard/chart-bar-demo.js'%}"></script>
        <script src="{% static 'data/data.js' %}"></script>
        <script src="{% static 'js/portal/leaflet.js' %}"></script>
        <script src="{% static 'js/portal/Autolinker.min.js' %}"></script>
        <script src="{% static 'js/portal/L.Control.Locate.min.js' %}"></script>
        <script src="{% static 'js/portal/leaflet-hash.js' %}"></script>
        <script src="{% static 'js/portal/leaflet-search.min.js' %}"></script>
        <script>
            var map = L.map('map').setView([-12.939947, -74.247891], 13);
            map.attributionControl.setPrefix(
                `Desarrollado por: <a href="https://www.linkedin.com/in/geofrancisco/" title="GeoSIG" "target=" _blank">Francisco Contreras &middot Rafael Vasquez </a>`
                );
            L.control.locate({
                locateOptions: {
                    maxZoom: 19
                }
            }).addTo(map);
            map.createPane('pane_baseMap');
            map.getPane('pane_baseMap').style.zIndex = 0;
            var baseMapsatelital = L.tileLayer(
                'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    pane: 'pane_baseMap',
                    attribution: '&copy; <a href="">Google Earth</a>',
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
                    opacity: 1.0,
                    minZoom: 13,
                    maxZoom: 28,
                    minNativeZoom: 0,
                    maxNativeZoom: 20
                });
            var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });

            map.addLayer(OpenStreetMap_Mapnik)
            // POPUPS
            function pop_risk(feature, layer) {
                var popupContent = `<table class="table-sm table-dark table-bordered border-white">
        <thead>
            <tr>
                <th scope="col"> Manzana</th>
                <th scope="col">Distrito</th>
                <th scope="col">Poblacion</th>
                <th scope="col">Riesgo</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">${feature.properties.idmanzana}</td>
                <td class="fw-bolder">${feature.properties.distrito}</td>
                <td>${feature.properties.pob_total}</td>
                <td rowspan="2" class="">${feature.properties.n_riesgo}</td>
            </tr>
            <tr>
                <th scope="row" colspan="3"> Centro Poblado: ${feature.properties.nom_ccpp}</th>

            </tr>
        <tbody>
    </table>
    `;
                layer.bindPopup(popupContent, {
                    maxHeight: 1000,
                    maxWidth: 1000,

                });
            }

            function risk_stile(feature) {
                switch (String(feature.properties['n_riesgo'])) {
                    case "Muy Alto":
                        return {
                            color: '#d7191c',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Alto":
                        return {
                            color: '#fe9000',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Medio":
                        return {
                            color: '#ffe900',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Bajo":
                        return {
                            color: '#1a9641',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                }
            }

            function riskStile(feature) {
                switch (String(feature.properties['n_riesgo'])) {
                    case "Muy Alto":
                        return {
                            color: '#d7191c',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Alto":
                        return {
                            color: '#fe9000',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Medio":
                        return {
                            color: '#ffe900',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                    case "Bajo":
                        return {
                            color: '#1a9641',
                                fillOpacity: '0.60',
                                stroke: ''
                        };
                }
            }

            // CREATE LAYERPANE
            map.createPane('dist_pane');
            map.getPane('dist_pane').style.zIndex = 400
            distritos = '{{data|safe}}'
            data = JSON.parse(distritos)
            var distritos_layer = new L.geoJson(data, {
                attribution: '',
                interactive: true,
                onEachFeature: pop_risk,
                pane: 'dist_pane',
                dataVar: 'distritos',
                layerName: 'Escenario de Riesgos',
                style: function (feature) {
                    switch (String(feature.properties['n_riesgo'])) {
                        case "Muy Alto":
                            return {
                                color: '#d7191c',
                                    fillOpacity: '0.60',
                                    stroke: ''
                            };
                        case "Alto":
                            return {
                                color: '#fe9000',
                                    fillOpacity: '0.60',
                                    stroke: ''
                            };
                        case "Medio":
                            return {
                                color: '#ffe900',
                                    fillOpacity: '0.60',
                                    stroke: ''
                            };
                        case "Bajo":
                            return {
                                color: '#1a9641',
                                    fillOpacity: '0.60',
                                    stroke: ''
                            };
                    }
                }


            }).addTo(map)

            var basemaps = {
                "Google Earth: ": baseMapsatelital,
                "OpenStreeMaps: ": OpenStreetMap_Mapnik
            };

            var theme = {
                "Escenario Riesgo Covid: ": distritos_layer
            }

            L.control.layers(basemaps, theme).addTo(map)
            var searchLayer = L.layerGroup().addTo(map);
            map.addControl(new L.Control.Search({
                url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
                jsonpParam: 'json_callback',
                propertyName: 'display_name',
                propertyLoc: ['lat', 'lon'],
                autoCollapse: true,
                autoType: false,
                minLength: 2,
                collapse: false

            }))
        </script>


    </body>
</html>
