{% load humanize %}


<div id="sidebar" class="leaflet-sidebar collapsed h-auto">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist " class="ms-0">
            <li>
                <a href="#risk" role="tab" data-bs-toggle="tooltip" data-bs-placement="top" title="Indicadores COVID-19"
                    onclick="styleRiesgo()" class=""><i class="fas fa-virus"></i></a>
            </li>
            <li>
                <a href="#density" role="tab" data-bs-placement="top" title="Indicadores Densidad Poblaciónal"
                    onclick="styleDensidad()"><i class="fas fa-users"></i></a>
            </li>
            <li class="">
                <a href="#nbi" role="tab" data-bs-placement="top" title="Indicadores NBI" onclick="styleNbi()"><i
                            class="fas fa-hand-holding-water"></i></a>
            </li>
            <!-- <li class="">
                <a href="#hazard" role="tab"><i class="fas fa-biohazard"></i></a>
            </li> -->
            <li class="">
                <a href="#3059" role="tab" data-bs-placement="top" title="Indicadores Población de 30 a 59 Años"
                    onclick="style3059()"><i class="fas fa-walking"></i></a>
            </li>
            <li class="">
                <a href="#60" role="tab" data-bs-placement="top" title="Indicadores de 60 Años a mas"
                    onclick="style60()"><i class="fas fa-blind"></i></a>
            </li>
            <li class="mt-4">
                <a href="#help" role="tab" data-bs-placement="top" title="Indicadores de 60 Años a mas"
                    onclick="" class="text-primary"><i class="fas fa-question-circle"></i></a>
            </li>
            <!-- <li class="">
                <a href="#public" role="tab"><i class="fas fa-store"></i></a>
            </li> -->
        </ul>

        <!-- <ul role="tablist">
            <li>
                <a href="//github.com/nickpeihl/leaflet-sidebar-v2" class="mt-auto mb-0"><i class="fab fa-github-alt"
                        aria-hidden="true"></i></a>
            </li>
        </ul> -->
    </div>

    <!-- Tab panes -->
    <div class="leaflet-sidebar-content" id="panel-content">
        {% comment %} PANEL RIESGO COVID {% endcomment %}
        <div class="leaflet-sidebar-pane" id="risk">
            <h1 class="leaflet-sidebar-header">
                Riesgo de Contagio COVID-19
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></span>
            </h1>


            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        {% if nombre %}
                        <h4 class="fw-bolder">{{nombre}} | {{total | intcomma}} Hab</h4>

                        {% else %}
                        <h4 class="fw-bolder"> Total Estudio | {{total | intcomma}} Hab</h4>

                        {% endif %}
                    </div>
                </div>


                <div class="card shadow mt-1">
                    <div class="card-header">
                        Indicadores de Riesgo COVID-19 | {{nombre}}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Riesgo</th>
                                    <th>Manzanas</th>
                                    <th>Población</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for e in riesgo %}
                                <tr>
                                    {% if nombre %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.5|slice:"1:"}}</td>                                    
                                    {% else %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.0}}</td>
                                    {% endif %}
                                    
                                    <td>{{e.1}}</td>
                                    <td>{{e.2 | intcomma}}</td>
                                    <td>{{e.3}} %</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th>Total</th>
                                    <th>{{total_manzana}}</th>
                                    <th>{{total | intcomma}}</th>
                                    <th>{{total_porcentaje}}%</th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>
                <div class="card shadow mt-1">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-2"> </i>Población en Riesgo | {{nombre}}
                    </div>
                    <div class="card-body">
                        <div class="card-body"><canvas id="BarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="card shadow mt-1">
                    <div class="card-header">
                        <i class="fas fa-chart-pie"></i>
                        Porcentaje de Población en Riesgo | {{nombre}}
                    </div>
                    <div class="card-body"><canvas id="PieChart" width="100%" height="40"></canvas></div>

                </div>


            </div>

        </div>
        {% comment %} PANEL DENSIDAD POBLACIóNAL {% endcomment %}
        <div class="leaflet-sidebar-pane" id="density">
            <h1 class="leaflet-sidebar-header">
                Densidad Poblaciónal
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></i></span>
            </h1>

            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        {% if nombre %}
                        <h4 class="fw-bolder">{{nombre}} | {{total | intcomma}} Hab</h4>

                        {% else %}
                        <h4 class="fw-bolder"> Total Estudio | {{total | intcomma}} Hab</h4>

                        {% endif %}
                    </div>
                </div>

                <div class="card shadow mt-1">
                    <div class="card-header">
                        Indicadores de Densidad Poblaciónal | {{nombre}}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Símbolo</th>
                                    <th>Manzanas</th>
                                    <th>Población</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for e in densidad %}
                                <tr>
                                    {% if nombre %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.5}}</td>
                                    {% else %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.0}}</td>
                                    {% endif %}
                                    <td>{{e.1}}</td>
                                    <td>{{e.2 | intcomma}}</td>
                                    <td>{{e.3}} %</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th>Total</th>
                                    <th>{{total_manzana}}</th>
                                    <th>{{total | intcomma}}</th>
                                    <th>{{total_porcentaje}}%</th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>


                <div class="container-fluid p-2">
                    <div class="card shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-2"> </i>
                             Población Densidad Poblaciónal | {{nombre}}
                        </div>
                        <div class="card-body">
                            <div class="card-body"><canvas id="BarChartDensidad" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Porcentaje en Densidad Poblaciónal | {{nombre}}
                        </div>
                        <div class="card-body"><canvas id="PieChartDensidad" width="100%" height="40"></canvas></div>

                    </div>

                </div>

            </div>

        </div>
        {% comment %} PANEL NBI {% endcomment %}
        <div class="leaflet-sidebar-pane" id="nbi">
            <h1 class="leaflet-sidebar-header">
                Necesidades Basicas Insatisfechas (NBI)
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></i></span>
            </h1>

            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        {% if nombre %}
                        <h4 class="fw-bolder">{{nombre}} | {{total | intcomma}} Hab</h4>

                        {% else %}
                        <h4 class="fw-bolder"> Total Estudio | {{total | intcomma}} Hab</h4>

                        {% endif %}
                    </div>
                </div>

                <div class="card shadow mt-1">
                    <div class="card-header">
                        Indicadores de NBI | {{nombre}}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Símbolo</th>
                                    <th>Manzanas</th>
                                    <th>Población</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for e in nbi %}
                                <tr>
                                    {% if nombre %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.5}}</td>
                                    {% else %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.0}}</td>
                                    {% endif %}
                                    <td>{{e.1}}</td>
                                    <td>{{e.2 | intcomma}}</td>
                                    <td>{{e.3}} %</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th>Total</th>
                                    <th>{{total_manzana}}</th>
                                    <th>{{total | intcomma}}</th>
                                    <th>{{total_porcentaje}}%</th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>


                <div class="container-fluid p-2">
                    <div class="card shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-2"> </i>
                            Población NBI {{nombre}}
                        </div>
                        <div class="card-body">
                            <div class="card-body"><canvas id="BarChartNbi" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Porcentaje Población NBI {{nombre}}
                        </div>
                        <div class="card-body"><canvas id="PieChartNbi" width="100%" height="40"></canvas></div>

                    </div>

                </div>

            </div>

        </div>
        {% comment %} PANEL 3059 {% endcomment %}
        <div class="leaflet-sidebar-pane" id="60">
            <h1 class="leaflet-sidebar-header">
                Distribución Población de 60 años o mas
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></i></span>
            </h1>

            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        {% if nombre %}
                        <h4 class="fw-bolder">{{nombre}} | {{total | intcomma}} Hab</h4>

                        {% else %}
                        <h4 class="fw-bolder"> Total Estudio | {{total | intcomma}} Hab</h4>

                        {% endif %}
                    </div>
                </div>

                <div class="card shadow mt-1">
                    <div class="card-header">
                        Indicadores de Población de 60 años a mas | {{nombre}}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Símbolo</th>
                                    <th>Manzanas</th>
                                    <th>Población</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for e in d60 %}
                                <tr>
                                    {% if nombre %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.5}}</td>
                                    {% else %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.0}}</td>
                                    {% endif %}
                                    <td>{{e.1}}</td>
                                    <td>{{e.2 | intcomma}}</td>
                                    <td>{{e.3}} %</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th>Total</th>
                                    <th>{{total_manzana}}</th>
                                    <th>{{total | intcomma}}</th>
                                    <th>{{total_porcentaje}}%</th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>


                <div class="container-fluid p-2">
                    <div class="card shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-2"> </i>
                            Población de 60 años a mas |{{nombre}}
                        </div>
                        <div class="card-body">
                            <div class="card-body"><canvas id="BarChart60" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Porcentaje en Población de 60 años a mas | {{nombre}}
                        </div>
                        <div class="card-body"><canvas id="PieChart60" width="100%" height="40"></canvas></div>

                    </div>

                </div>

            </div>

        </div>
        {% comment %} PANEL 60 {% endcomment %}
        <div class="leaflet-sidebar-pane" id="3059">
            <h1 class="leaflet-sidebar-header">
                Distribución Población de 30 a 59 años
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></i></span>
            </h1>

            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        {% if nombre %}
                        <h4 class="fw-bolder">{{nombre}} | {{total | intcomma}} Hab</h4>

                        {% else %}
                        <h4 class="fw-bolder"> Total Estudio | {{total | intcomma}} Hab</h4>

                        {% endif %}
                    </div>
                </div>

                <div class="card shadow mt-1">
                    <div class="card-header">
                        Indicadores de Población de 30 a 59 años | {{nombre}}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table">
                            <thead>
                                <tr>
                                    <th>Símbolo</th>
                                    <th>Manzanas</th>
                                    <th>Población</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for e in d3059 %}
                                <tr>
                                    {% if nombre %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.5}}</td>
                                    {% else %}
                                    <td style="background-color: {{e.4}}" class="fw-bolder">{{e.0}}</td>
                                    {% endif %}
                                    <td>{{e.1}}</td>
                                    <td>{{e.2 | intcomma}}</td>
                                    <td>{{e.3}} %</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th>Total</th>
                                    <th>{{total_manzana}}</th>
                                    <th>{{total | intcomma}}</th>
                                    <th>{{total_porcentaje}}%</th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>


                <div class="container-fluid p-2">
                    <div class="card shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-2"> </i>
                            Población de 30 a 59 años | {{nombre}}
                        </div>
                        <div class="card-body">
                            <div class="card-body"><canvas id="BarChart3059" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Porcentaje Población de 30 a 59 años | {{nombre}}
                        </div>
                        <div class="card-body"><canvas id="PieChart3059" width="100%" height="40"></canvas></div>

                    </div>

                </div>

            </div>

        </div>
        {% comment %} PANEL HELP {% endcomment %}
        <div class="leaflet-sidebar-pane" id="help">
            <h1 class="leaflet-sidebar-header">
                Ayuda del Geoportal
                <span class="leaflet-sidebar-close"><i class="fas fa-times"></i></i></span>
            </h1>

            <div class="container-fluid p-2">
                <div class="d-flex">
                    <div class="flex-row">
                        
                        <!-- <h4 class="fw-bolder">¿Qué información puedo encontrar?</h4> -->

                        
                    </div>
                </div>

                <div class="card shadow mt-1">
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionHelp">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="title-info">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#content-info" aria-expanded="false"
                                        aria-controls="content-info">
                                        Información General
                                    </button>
                                </h2>
                                <div id="content-info" class="accordion-collapse collapse"
                                    aria-labelledby="title-info" data-bs-parent="#accordionHelp">
                                    <div class="accordion-body"><p>
                                        El Geoportal de la Provincia de Huanta ofrece la información de sus 12 Distritos, generada en el <span class="fw-bolder">"Plan de
                                        Prevención y Reducción del Riesgo Ante COVID-19"</span> correspondiente al período 2021- 2023
                                    </p></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="title-dist">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#content-dist" aria-expanded="false"
                                        aria-controls="content-dist">
                                        Distritos Evaluados
                                    </button>
                                </h2>
                                <div id="content-dist" class="accordion-collapse collapse"
                                    aria-labelledby="title-dist" data-bs-parent="#accordionHelp">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            {% for d in distritos %}
                                            <a href="/geoportal/?search={{d}}" class="list-group-item list-group-item-action {% if request.path == '/geoportal/?search={{e}}'%}active{%endif%}" aria-current="true">{{d}}</a>
                                            {% endfor %}
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="title-themes">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#content-themes" aria-expanded="false"
                                        aria-controls="content-themes">
                                        Tematica de la Información
                                    </button>
                                </h2>
                                <div id="content-themes" class="accordion-collapse collapse"
                                    aria-labelledby="title-themes" data-bs-parent="#accordionHelp">
                                    <div class="accordion-body"><ul class="list-group list-group-flush">
                                        <li class="list-group-item"><i class="fas fa-virus me-3"></i>Riesgo COVID-19</li>
                                        <li class="list-group-item"><i class="fas fa-users me-3"></i>Densidad Poblaciónal
                                        </li>
                                        <li class="list-group-item"><i class="fas fa-hand-holding-water me-3"></i>Necesidades
                                            Básicas Insatisfechas</li>
                                        <li class="list-group-item"><i class="fas fa-biohazard me-3"></i>Zonas de Contagio
                                        </li>
                                        <li class="list-group-item"><i class="fas fa-walking me-3"></i>Distribución Población
                                            de 30 a 59 anios</li>
                                        <li class="list-group-item"><i class="fas fa-blind me-3"></i>Distribución Población
                                            60 anios a mas</li>
                                        <li class="list-group-item"><i class="fas fa-store me-3"></i>Áreas de Influencia
                                            Pública</li>
                                        <li class="list-group-item"><i class="fas fa-map-marker-alt me-3"></i>Ubicación</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="title-contact">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#content-contact" aria-expanded="false"
                                        aria-controls="content-contact">
                                        Contacto
                                    </button>
                                </h2>
                                <div id="content-contact" class="accordion-collapse collapse"
                                    aria-labelledby="title-contact" data-bs-parent="#accordionHelp">

                                    <div class="accordion-body">
                                        <p>
                                            <h6>Soporte Técnico:</h6>
                                            <a href="mailto:franciscocontreras93@gmail.com"
                                                class="text-decoration-none font-monospace">Francisco Contreras</a>
                                            <hr>
                                            <h6>Equipo Desarrollador:</h6>
                                            <p>Francisco Contreras &middot; Rafael Vásquez</p>
                                            <hr>
                                            <p><i class="fa fa-copyright" aria-hidden="true"></i> GeoSIG 2021 &middot;
                                                Todos los derechos Reservados</p>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                

            </div>

        </div>
    </div>